<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="PayrollManagement.Admin" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
            border: 2px solid #000000;
            background-color: #FF9966;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                <table class="auto-style1">
                    <tr>
                        <td>
                            <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/AddEmployee.aspx">Add Employee</asp:HyperLink>
                        </td>
                        <td>
                            <asp:HyperLink ID="HyperLink2" runat="server">Delete Employee</asp:HyperLink>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:HyperLink ID="HyperLink3" runat="server">View Employee Record</asp:HyperLink>
                        </td>
                        <td>
                            <asp:HyperLink ID="HyperLink4" runat="server">Generate Salary</asp:HyperLink>
                        </td>
                    </tr>
                </table>
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
