<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
			
	
  <!--<connectionStrings>
		<add name="StemDBConnectionString" connectionString="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=StemDB;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		 </connectionStrings>-->
  <connectionStrings>
    <add name="PayrollConnectionString" connectionString="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=Payroll;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PayrollConnectionString2" connectionString="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=Payroll;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PayrollConnectionString3" connectionString="Data Source=(localdb)\MSSqlLocalDB;Initial Catalog=Payroll;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <location path="NewUser.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <authentication mode="Forms">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
</configuration>