<!-- Heading on the top center aligned -->
<div class="container-fluid bg-warning">
  <figure class="text-center">
    <h3>Luigi's Pizza</h3>
  </figure>

  <!-- Form to submit order -->
  <div class="conatainer-fluid">
    <form
      class="was-validated"
      #pizzaForm="ngForm"
      (ngSubmit)="Submit(pizzaForm)"
      novalidateS
    >
      <div class="pdetails">
        <span id="name">
          <label for="cname">Customer Name</label>
          <input
            type="text"
            id="cname"
            name="cname"
            #cname="ngModel"
            [(ngModel)]="model.cname"
            required
          />
        </span>
        <span id="number">
          <label for="num">Phone Number</label>
          <input
            type="text"
            id="num"
            name="phoneNumber"
            minlength="10"
            #phoneNumber="ngModel"
            [(ngModel)]="model.phoneNumber"
            required
          />
        </span>
      </div>
      <table class="form-table">
        <tr>
          <th>Image</th>
          <th>Pizza Choice</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total Price</th>
        </tr>
        <tr>
          <td>
            <div class="card" style="width: 12rem">
              <img
                src="https://cdn1.zfood.co.uk/305/images/Pizza.png?auto=compress"
                class="card-img-top"
                alt="firstpizza"
              />
            </div>
          </td>
          <td>
            <input
              type="checkbox"
              name="bigItaly"
              #bigItaly="ngModel"
              [(ngModel)]="model.bigItaly"
            />Big Italy
          </td>
          <td>
            <input
              type="text"
              name="bigItalyqty"
              #bigItalyqty="ngModel"
              [(ngModel)]="model.bigItalyqty"
            />
          </td>
          <td>
            <input
              type="text"
              name="bigItalyuprice"
              #bigItalyuprice="ngModel"
              [(ngModel)]="model.bigItalyuprice"
              readonly
            />
          </td>
          <td>
            <input
              type="text"
              name="bigItalyTotal"
              #bigItalyTotal="ngModel"
              [(ngModel)]="model.bigItalyTotal"
              readonly
            />
          </td>
        </tr>
        <tr>
          <td>
            <div class="card" style="width: 12rem">
              <img
                src="https://freepngimg.com/thumb/pizza/53-pizza-png-image.png"
                class="card-img-top"
                alt="firstpizza"
              />
            </div>
          </td>
          <td>
            <input
              type="checkbox"
              name="meatLover"
              #meatLover="ngModel"
              [(ngModel)]="model.meatLover"
            />Meat Lover
          </td>
          <td>
            <input
              type="text"
              name="meatLoverqty"
              #meatLoverqty="ngModel"
              [(ngModel)]="model.meatLoverqty"
            />
          </td>
          <td>
            <input
              type="text"
              name="meatLoveruprice"
              #meatLoverprice="ngModel"
              [(ngModel)]="model.meatLoveruprice"
              readonly
            />
          </td>
          <td>
            <input
              type="text"
              name="meatLoverTotal"
              #meatLoverTotal="ngModel"
              [(ngModel)]="model.meatLoverTotal"
              readonly
            />
          </td>
        </tr>
        <tr>
          <td>
            <div class="card" style="width: 12rem">
              <img
                src="https://th.bing.com/th/id/OIP.GK7EAKWEP-IutKHea6ZoBgAAAA?pid=ImgDet&w=200&h=170&rs=1"
                class="card-img-top"
                alt="firstpizza"
              />
            </div>
          </td>
          <td>
            <input
              type="checkbox"
              name="veggieLover"
              #veggieLover="ngModel"
              [(ngModel)]="model.veggieLover"
            />Veggie Lover
          </td>
          <td>
            <input
              type="text"
              name="veggieLoverqty"
              #veggieLoverqty="ngModel"
              [(ngModel)]="model.veggieLoverqty"
            />
          </td>
          <td>
            <input
              type="text"
              name="veggieLoveruprice"
              #veggieLoveruprice="ngModel"
              [(ngModel)]="model.veggieLoveruprice"
              readonly
            />
          </td>
          <td>
            <input
              type="text"
              name="veggieLoverTotal"
              #veggieLoverTotal="ngModel"
              [(ngModel)]="model.veggieLoverTotal"
              readonly
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <input
              type="text"
              name="Total"
              #Total="ngModel"
              [(ngModel)]="model.Total"
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button
              type="submit"
              [disabled]="!pizzaForm.valid"
              class="btn btn-success"
            >
              Place Order
            </button>
          </td>
          <td>
            <button type="reset" class="btn btn-danger">Cancel Order</button>
          </td>
          <td></td>
        </tr>
      </table>
    </form>
  </div>
</div>
